* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.size1 {
    color: aliceblue;
    font-size: 200px;
}

.size2 {
    color: aliceblue;
    font-size: 75px;
}

.size3 {
    color: aliceblue;
    font-size: 25px;
}

.font1 {
    font-family: "Salsa";
}

.font2 {
    font-family: "Madimi One";
}

.font3 {
    font-family: "Poetsen One";
}

.dark {
    background-color: rgba(0, 0, 0, 0.25);
}

.black {
    color: black;
}

a{
    text-decoration: none;
}

/* Navbar start */

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    width: 100vw;
    z-index: 4;

    /* background-color: rgba(0, 0, 0, 0.461); */
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li {
        list-style-type: none;
        margin: 20px;
        font-size: 20px;
        color: aliceblue;
        font-family: "Madimi One";
        cursor: pointer;
    }
}

#logo img {
    width: 50px;
    padding-bottom: 15px;
}

#logo {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 25px;
        color: aliceblue;
        font-family: "Salsa";
    }
}

#contest {
    background: transparent;
    color: aliceblue;
    border: 2px solid #f05d1b;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-family: "Madimi One";
    border-radius: 5px;
    cursor: pointer;
}

#contest:hover {
    background-color: #f05e1b93;
    /* border: 2px solid aliceblue; */
}

.btext {
    color: black;

    p {
        color: black;
    }

    li {
        color: black;
    }
}

/* Navbar completion */

/* Landing page start */

#bgimg {
    position: fixed;
    background-image: url('/images/bgmain1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    z-index: -3;
    width: 100vw;
    height: 100vh;
}

#front {
    background: linear-gradient(to bottom, transparent, black);
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    padding: 200px;
    padding-top: 150px;

    p {
        margin-left: 30px;
    }
}

#front>p:first-child {
    margin: 0;
    font-weight: lighter;
}

/* Lading page end */

/* About Start */

#about {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    padding-top: 0;
}

#description {
    padding-top: 100px;
    color: aliceblue;
    font-size: 16px;
    width: 60vw;
    font-family: "Roboto";
}

.pad {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* About End */

/* Gallery Start */



.shapedividers_com-1515 {
    overflow: hidden;
    position: relative;
}

.shapedividers_com-1515::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 80px;
    background-position: 50% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23fff2f2"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23fff2f2"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23fff2f2"/></svg>');
}

@media (min-width:2100px) {
    .shapedividers_com-1515::before {
        background-size: 100% calc(2vw + 80px);
    }
}



#gallery {
    background-color: rgb(255, 242, 242);
    color: black;
    height: 120vh;
    width: 100vw;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
    }
}

#imgchange {
    position: relative;
    margin-top: 5vw;
    margin-bottom: 5vh;
    height: 80vh;
    width: 80vw;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 0 5px white;
    background-repeat: no-repeat;
    background-size: cover;
}

.explore {
    position: absolute;
    bottom: 150px;
    right: 150px;
    display: flex;
    align-items: center;

    img {
        margin-left: 20px;
    }
}

/* Contact Start */

footer{
    display: flex;
    width: 100vw;
    background-color: black;
}

#contact {
    background-color: black;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

#cont{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: aliceblue;
    width: 50vw;
    height: 30vh;
    a{
        color: aliceblue;
        text-decoration: none;
        margin: 20px;
    }
    a:hover{
        color: #f05d1b;
    }
}

#continfo{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    margin-bottom: 50px;
    a{
        text-decoration: none;
        padding-bottom: 10px;
        font-size: 16px;
        color: aliceblue;
        font-family: sans-serif;
    }
    a:hover{
        color: #f05d1b;
    }
}

#message{
    background-color: black;
}

#form{
    /* background-color: aliceblue; */
    height: 50vh;
    width: 30vw;
    margin-right: 150px;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label{
        align-self: flex-start;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 20px;
        color: aliceblue;
    }
    
}

input{
    width: 20vw;
    height: 3vh;
    border: 0;
    border-bottom: 2px solid #f05d1b;
    color: white;
    background-color: black;
    font-size: 15px;
}

.submit{
    margin-top: 20px;
    width: 10vw;
    height: 6vh;
    background-color: transparent;
}

.reach{
    margin-bottom: 20px;
}

#handle>p{
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.icon{
    display: flex;
}

#usermessage{
    height: 10vh;
    width: 20vw;
    border: 0;
    border-bottom: 2px solid #f05d1b;
    color: aliceblue;
    background-color: transparent;
    font-size: 15px;
}

/* Contact End */


/* SVG Setup */

svg .svg-elem-1 {
    stroke-dashoffset: 521.89990234375px;
    stroke-dasharray: 521.89990234375px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}

svg.active .svg-elem-1 {
    stroke-dashoffset: 0;
}

svg .svg-elem-2 {
    stroke-dashoffset: 626.6066284179688px;
    stroke-dasharray: 626.6066284179688px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
}

svg.active .svg-elem-2 {
    stroke-dashoffset: 0;
}

svg .svg-elem-3 {
    stroke-dashoffset: 229.51065063476562px;
    stroke-dasharray: 229.51065063476562px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

svg.active .svg-elem-3 {
    stroke-dashoffset: 0;
}

svg .svg-elem-4 {
    stroke-dashoffset: 1504.0220947265625px;
    stroke-dasharray: 1504.0220947265625px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.1s;
}

svg.active .svg-elem-4 {
    stroke-dashoffset: 0;
}

svg .svg-elem-5 {
    stroke-dashoffset: 221.12896728515625px;
    stroke-dasharray: 221.12896728515625px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.2000000000000002s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.2000000000000002s;
}

svg.active .svg-elem-5 {
    stroke-dashoffset: 0;
}

svg .svg-elem-6 {
    stroke-dashoffset: 274.39398193359375px;
    stroke-dasharray: 274.39398193359375px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
}

svg.active .svg-elem-6 {
    stroke-dashoffset: 0;
}

svg .svg-elem-7 {
    stroke-dashoffset: 683.6370239257812px;
    stroke-dasharray: 683.6370239257812px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.4000000000000001s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.4000000000000001s;
}

svg.active .svg-elem-7 {
    stroke-dashoffset: 0;
}

svg .svg-elem-8 {
    stroke-dashoffset: 135.32501220703125px;
    stroke-dasharray: 135.32501220703125px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
}

svg.active .svg-elem-8 {
    stroke-dashoffset: 0;
}

svg .svg-elem-9 {
    stroke-dashoffset: 569.021240234375px;
    stroke-dasharray: 569.021240234375px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.6s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.6s;
}

svg.active .svg-elem-9 {
    stroke-dashoffset: 0;
}

svg .svg-elem-10 {
    stroke-dashoffset: 492.4288635253906px;
    stroke-dasharray: 492.4288635253906px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.7000000000000002s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.7000000000000002s;
}

svg.active .svg-elem-10 {
    stroke-dashoffset: 0;
}

svg .svg-elem-11 {
    stroke-dashoffset: 254.47979736328125px;
    stroke-dasharray: 254.47979736328125px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.8s;
}

svg.active .svg-elem-11 {
    stroke-dashoffset: 0;
}

svg .svg-elem-12 {
    stroke-dashoffset: 66.68164825439453px;
    stroke-dasharray: 66.68164825439453px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.9000000000000001s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 1.9000000000000001s;
}

svg.active .svg-elem-12 {
    stroke-dashoffset: 0;
}

svg .svg-elem-13 {
    stroke-dashoffset: 91.03971099853516px;
    stroke-dasharray: 91.03971099853516px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

svg.active .svg-elem-13 {
    stroke-dashoffset: 0;
}

svg .svg-elem-14 {
    stroke-dashoffset: 13.119959831237793px;
    stroke-dasharray: 13.119959831237793px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.1s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.1s;
}

svg.active .svg-elem-14 {
    stroke-dashoffset: 0;
}

svg .svg-elem-15 {
    stroke-dashoffset: 12.676424267940144px;
    stroke-dasharray: 12.676424267940144px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.2s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.2s;
}

svg.active .svg-elem-15 {
    stroke-dashoffset: 0;
    fill: rgb(32, 28, 30);
}

svg .svg-elem-16 {
    stroke-dashoffset: 249.63912963867188px;
    stroke-dasharray: 249.63912963867188px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.3s;
}

svg.active .svg-elem-16 {
    stroke-dashoffset: 0;
    fill: rgb(27, 27, 40);
}

svg .svg-elem-17 {
    stroke-dashoffset: 270.5484313964844px;
    stroke-dasharray: 270.5484313964844px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.4000000000000004s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.4000000000000004s;
}

svg.active .svg-elem-17 {
    stroke-dashoffset: 0;
    fill: rgb(27, 27, 40);
}

svg .svg-elem-18 {
    stroke-dashoffset: 196.38958740234375px;
    stroke-dasharray: 196.38958740234375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.5s;
}

svg.active .svg-elem-18 {
    stroke-dashoffset: 0;
    fill: rgb(27, 27, 40);
}

svg .svg-elem-19 {
    stroke-dashoffset: 140.2758331298828px;
    stroke-dasharray: 140.2758331298828px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.6s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.6s;
}

svg.active .svg-elem-19 {
    stroke-dashoffset: 0;
    fill: rgb(27, 27, 40);
}

svg .svg-elem-20 {
    stroke-dashoffset: 318.1500244140625px;
    stroke-dasharray: 318.1500244140625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.7s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.7s;
}

svg.active .svg-elem-20 {
    stroke-dashoffset: 0;
    fill: rgb(27, 27, 40);
}

svg .svg-elem-21 {
    stroke-dashoffset: 3899.89501953125px;
    stroke-dasharray: 3899.89501953125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.8s;
}

svg.active .svg-elem-21 {
    stroke-dashoffset: 0;
    fill: rgb(30, 29, 35);
}

svg .svg-elem-22 {
    stroke-dashoffset: 626.606689453125px;
    stroke-dasharray: 626.606689453125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.9000000000000004s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 2.9000000000000004s;
}

svg.active .svg-elem-22 {
    stroke-dashoffset: 0;
    fill: rgb(240, 93, 27);
}

svg .svg-elem-23 {
    stroke-dashoffset: 2677.181884765625px;
    stroke-dasharray: 2677.181884765625px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3s;
}

svg.active .svg-elem-23 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
}

svg .svg-elem-24 {
    stroke-dashoffset: 83.94500732421875px;
    stroke-dasharray: 83.94500732421875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.1000000000000005s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.1000000000000005s;
}

svg.active .svg-elem-24 {
    stroke-dashoffset: 0;
    fill: rgb(27, 27, 40);
}

svg .svg-elem-25 {
    stroke-dashoffset: 448.63958740234375px;
    stroke-dasharray: 448.63958740234375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.2s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.2s;
}

svg.active .svg-elem-25 {
    stroke-dashoffset: 0;
    fill: rgb(224, 221, 221);
}

svg .svg-elem-26 {
    stroke-dashoffset: 407.7191162109375px;
    stroke-dasharray: 407.7191162109375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.3s;
}

svg.active .svg-elem-26 {
    stroke-dashoffset: 0;
    fill: rgb(32, 28, 30);
}

svg .svg-elem-27 {
    stroke-dashoffset: 1250.6580810546875px;
    stroke-dasharray: 1250.6580810546875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.4000000000000004s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.4000000000000004s;
}

svg.active .svg-elem-27 {
    stroke-dashoffset: 0;
    fill: rgb(32, 28, 30);
}

svg .svg-elem-28 {
    stroke-dashoffset: 255.30416870117188px;
    stroke-dasharray: 255.30416870117188px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.5s;
}

svg.active .svg-elem-28 {
    stroke-dashoffset: 0;
    fill: rgb(27, 27, 40);
}

svg .svg-elem-29 {
    stroke-dashoffset: 135.0050048828125px;
    stroke-dasharray: 135.0050048828125px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.6000000000000005s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.6000000000000005s;
}

svg.active .svg-elem-29 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
}

svg .svg-elem-30 {
    stroke-dashoffset: 1059.449951171875px;
    stroke-dasharray: 1059.449951171875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.7s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.7s;
}

svg.active .svg-elem-30 {
    stroke-dashoffset: 0;
    fill: rgb(150, 150, 151);
}

svg .svg-elem-31 {
    stroke-dashoffset: 744.9086303710938px;
    stroke-dasharray: 744.9086303710938px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5999999999999996s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.8s;
}

svg.active .svg-elem-31 {
    stroke-dashoffset: 0;
    fill: rgb(32, 28, 30);
}

svg .svg-elem-32 {
    stroke-dashoffset: 408.2012023925781px;
    stroke-dasharray: 408.2012023925781px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.9000000000000004s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7199999999999998s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 3.9000000000000004s;
}

svg.active .svg-elem-32 {
    stroke-dashoffset: 0;
    fill: rgb(0, 145, 148);
}

svg .svg-elem-33 {
    stroke-dashoffset: 102.15966796875px;
    stroke-dasharray: 102.15966796875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 4s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.84s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 4s;
}

svg.active .svg-elem-33 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
}

svg .svg-elem-34 {
    stroke-dashoffset: 109.54271697998047px;
    stroke-dasharray: 109.54271697998047px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 4.1000000000000005s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.96s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 4.1000000000000005s;
}

svg.active .svg-elem-34 {
    stroke-dashoffset: 0;
    fill: rgb(27, 27, 40);
}

svg .svg-elem-35 {
    stroke-dashoffset: 77.8016128540039px;
    stroke-dasharray: 77.8016128540039px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.08s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 4.2s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.08s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 4.2s;
}

svg.active .svg-elem-35 {
    stroke-dashoffset: 0;
    fill: rgb(224, 221, 221);
}

svg .svg-elem-36 {
    stroke-dashoffset: 1141.511474609375px;
    stroke-dasharray: 1141.511474609375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 4.3s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 4.2s,
        fill 0.7s cubic-bezier(0.19, 1, 0.22, 1) 4.3s;
}

svg.active .svg-elem-36 {
    stroke-dashoffset: 0;
    fill: rgb(167, 99, 77);
}

/* SVG Setup End  */